* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: #220901;
    color: #fffffa;
    padding-bottom: 2rem;
    text-align: center;
}

header {
    background-color: #000000;
    color: #FFCE2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
}

.container {
    padding: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    gap: 10px; /* Adjust the spacing between the items */
    justify-items: center; /* Center the items horizontally in their columns */
    align-items: center; /* Center the items vertically in their grid area */
    width: 100%;
}

.secondary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DBDBDB;
    padding: 1rem;
    /* border-bottom: 1px solid #ddd;*/
}

.secondary-header h2 {
    font-size: 1rem;
    font-weight: 100;
    color: #333; /* Color can be adjusted */
    margin-right: auto; /* This will push the dropdown to the right */
}

.secondary-header select {
    margin-left: auto; /* Align to the right */
}

select {
    font-family: 'Space Mono', monospace;
    font-size: 1.3rem;
    background-color: transparent; /* Transparent background */
    color: white; /* White text for dropdown options */
    border: 1px solid white; /* Thin white outline */
    padding: 5px;
}

select option {
    background-color: #220901; /* Matches body background */
    color: white; /* White text for dropdown options */
}

button {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    background-color: rgb(155, 155, 155);
    color: black;
    padding: 5px;
    font-size: 1.3rem;
}

label {
    font-size: 1.3rem;
    font-weight: 100;
}

input {
    font-family: 'Space Mono', monospace;
    font-size: 1.3rem;
    text-align: center;
    background-color: transparent; /* Transparent background */
    border: 1px solid white; /* Thin white outline */
    color: white; /* Text color */
    padding: 5px;
}

input::placeholder {
    opacity: 0.6; /* Adjust transparency (0.0 to 1.0) */
}

/* Ensure the result image is 40% of the screen width */
#results img {
    width: 40%;
    display: block;
    margin: 20px auto; /* Center the image horizontally */
}

h2 {
    font-size: 1.6rem;
    font-weight: 100;
}

h3 {
    font-size: 1rem;
    font-weight: 100;
    color: #DBDBDB;
}

h4 {
    font-size: 0.7rem;
    font-weight: 100;
    color: #DBDBDB;
}

#results {
    font-size: 1.5rem;
}

a {
    color: #DBDBDB;
}

/* MOBILE */
@media screen and (max-width: 1023px) {
    select {
        width: 75%;
    }
}
